@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    background-color: #d8cb58;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2vh 4vw;
}

header img {
    padding: 10px;
}

nav a {
    color: #000;
    font-weight: bolder;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px;
}

