@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'open sans', sans-serif;
}

header {
    background-color: #f5cb00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2vh 4vw;
}

header img {
    padding: 10px;
}

nav a {
    color: #000;
    font-weight: bolder;
    font-family: 'open sans', sans-serif;
    font-size: 14px ;
    text-decoration: none;
    padding: 10px 15px;
}

.howHappy {
    display: flex;
    height: auto;
    padding-top: 100px;
}


.imgHowHappy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 30px;
}

.infoHowHappy {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.infoHowHappy h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 5vw;
    line-height: 0.8;
}

.infoHowHappy p {
    padding: 50px 0;
}

.infoHowHappy button{
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
}

.contenedorPosition {
    background-color: #eaeaea;
    max-width: 70vw;
    padding: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 150px;
    left: 15%;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.infoPosition h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
    font-weight: 100;
    color: #f5cb00;
    line-height: 1.1;
    margin-bottom: 15px;
    max-width: 220px;
}

.infoPosition p {
    margin-bottom: 20px;
    max-width: 270px;
}

.infoPosition a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s;
}

.infoPosition a:hover {
    opacity: 0.7;
}

.positionImages {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.positionImages img {
    width: 150px;
    height: auto;
}

.help {
    background-color: #f5cb00;
    padding: 19vw 7vw 100px;
    display: flex;
    gap: 50px;
    height: auto;
}

.infoHelp {
    width: 50%;
}

.infoHelp h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 5vw;
    line-height: 0.8;
    color: #000;
    margin-bottom: 25px;
    max-width: 550px;
}

.infoHelp p {
    max-width: 430px;
    margin-bottom: 30px;
}

.infoHelp button {
    background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.infoHelp button:hover {
    background-color: #333;
}

.helpImagen {
display: flex; 
justify-content: center;
align-items: center; 
}

.happinessStats {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.statsContainer {
    display: flex;
    background-color: #f2f2f2;
    box-shadow: 30px 30px 50px #00000080;
    margin: 6vw 8vw;
}


.statsInfo {
    padding: 40px;
    flex: 1;
}

.statsInfo h2 {
    color: #f5cb00;
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 5vw;
    margin-bottom: 15px;
}

.statsInfo p {
    margin-bottom: 40px;
    max-width: 430px;
}

.grafico {
    display: flex;
    justify-content: flex-end;
}

.statsContainer button {
    background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.statsContainer button:hover {
    background-color: #333;
}

.aboutUs {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.aboutUs h2 {
    color: #f5cb00;
    font-size: 3vw;
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    padding-top: 70px;      
}

.aboutUs p {
    line-height: 1.6;
    margin-bottom: 40px;
}

.aboutUs img {
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}

.aboutUs button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
    margin: 30px;
}

.aboutUs button:hover {
    background-color: #e6c200;
}

.ourTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    height: auto;
    padding: 5%;
}

.teamImagen {
    padding: 20px;
    width: 50%;
}

.teamInfo {
    padding: 20px;
    width: 50%;
}

.teamInfo h2 {
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 4.2vw;
    margin-bottom: 15px;
}

.teamInfo p {
    line-height: 1.6; 
    margin-bottom: 25px;
}

.teamInfo button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
}

.teamInfo button:hover {
    background-color: #e6c200;
}

.method {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6;
    gap: 50px;
    height: auto;
}

.methodInfo {
    padding: 20px;
    width: 50%;
}

.methodInfo h2 {
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 4.5vw;
    line-height: 1;
    margin-bottom: 25px;
}

.methodInfo p {
    margin-bottom: 45px;
    line-height: 1.6;
}

.methodInfo button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
}

.methodInfo button:hover {
    background-color: #e6c200;
}

.methodImagen {
    padding: 20px;
}

.subscribe {
    height: auto;
    display: flex;
    justify-content: center;
}

.subscribeContainer {
    display: flex;
    align-items: center;
}

form {
    background-color: #000;
    color: #fff;
    padding: 30px 30px;
    margin: 20px;
    width: 550px;
}

.nombreForm {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.grupoForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;    
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input, textarea {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px;
}

form p {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    line-height: 1.4;
    text-align: justify;
}

.subscribeInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    align-items: center;
}

.subscribeInfo h2 {
    color: #f5cb00;
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 3.5vw;
    line-height: 1;
    margin-bottom: 10px;
}

.subscribeInfo p {
    margin: 15px 0;
    line-height: 1.6;
}

.subscribeInfo button {
    background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.subscribeInfo button:hover {
    background-color: #333;
}

.contact {
    background-color: #FFC107;
    padding: 60px 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactInfo {
    text-align: center;
}

.contactInfo h2 {
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    margin-bottom: 15px;
}

.contactInfo p {
  margin-bottom: 40px;
}

.contactInfo button {
  background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.contactInfo button:hover {
    background-color: #333;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 60px 60px 40px;
    display: flex;
    flex-direction: column;
    border-top: 4px solid #FFC107;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 80px;
    flex-wrap: wrap;
    padding: 80px 0;
}

.columnLinks {
    display: flex;
    flex-direction: column;
}

.links a {
    color: #FFC107;
    text-decoration: none;    
    font-weight: 500;
}

.footerBajo {
    border-top: 1px solid #333;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footerBajo p {
    font-size: 14px;
    color: #FFC107;
    font-weight: 400;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

@media (max-width: 1279px) {
    .contenedorPosition {
        max-width: 75vw;
        left: 12%;
        top: 120px;
    }

    .statsContainer {
        height: 430px;
    }

    .statsImagen {
        width: 397px;
    }

    .grafico {
        position: relative;
        left: 150px;
        bottom: 70px;
        width: 150px;
    }

    .aboutUsImagen img{
        width: 500px;
    }

    .methodImagen {
        width: 550px;
    }
}

@media (max-width: 920px) {
    header {
        flex-direction: column;
        padding: 1vh 3vw;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .howHappy {
        flex-direction: column;
        padding-top: 50px;
    }

    .imgHowHappy, .infoHowHappy {
        width: 100%;
        margin: 0px;
        padding: 20px;
    }

    .infoHowHappy h1 {
        font-size: 8vw;
    }

    .contenedorPosition {
        max-width: 85vw;
        left: 7.5%;
        top: 80px;
        padding: 30px;
    }

    .infoPosition h2 {
        font-size: 5vw;
    }

    .help {
        flex-direction: column;
        padding: 15vw 5vw 80px;
    }

    .infoHelp {
        width: 100%;
        margin-top: 20px;
    }

    .infoHelp h2 {
        font-size: 8vw;
    }

    .statsContainer {
        flex-direction: column;
        height: auto;
        width: 80%;
        align-items: center;
    }

    .grafico {
        position: static;
        justify-content: center;
        padding: 20px;
    }

    .statsInfo h2 {
        font-size: 8vw;
    }

    .aboutUs h2 {
        font-size: 6vw;
    }

    .ourTeam {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
    }

    .teamImagen, .teamInfo {
        width: 100%;
    }

    .teamInfo h2 {
        font-size: 7vw;
        align-items: center;
    }

    .method {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
    }

    .methodInfo {
        width: 100%;
    }

    .methodInfo h2 {
        font-size: 7vw;
    }

    .subscribeContainer {
        flex-direction: column;
    }

    form {
        width: 90%;
    }

    .subscribeInfo h2 {
        font-size: 6vw;
    }
}

@media (max-width: 768px) {
    nav a {
        font-size: 12px;
        padding: 8px 10px;
    }

    .imgHowHappy {
        margin: 0px;
        padding: 20px;
    }

    .infoHowHappy h1 {
        font-size: 10vw;
    }

    .infoHowHappy p {
        padding: 30px 0;
    }

    .contenedorPosition {
        max-width: 90vw;
        left: 5%;
        top: 60px;
        padding: 25px;
        gap: 30px;
    }

    .infoPosition h2 {
        font-size: 6vw;
    }

    .positionImages {
        gap: 20px;
        justify-content: center;
    }

    .positionImages img {
        width: 120px;
    }

    .help {
        padding: 12vw 4vw 60px;
        gap: 30px;
    }

    .infoHelp h2 {
        font-size: 9vw;
    }

    .happinessStats {
        height: auto;
        padding: 40px 0;
    }

    .statsContainer {
        margin: 4vw;
    }

    .statsInfo {
        padding: 30px;
    }

    .statsInfo h2 {
        font-size: 9vw;
    }

    .aboutUs h2 {
        font-size: 7vw;
        padding-top: 50px;
    }

    .aboutUs img {
        max-width: 90%;
    }

    .teamInfo h2 {
        font-size: 8vw;
    }

    .methodInfo h2 {
        font-size: 8vw;
    }

    .subscribe {
        height: auto;
        padding: 40px 0;
        flex-wrap: wrap;
    }

    .subscribeInfo {
        padding: 0 20px;
    }

    .subscribeInfo h2 {
        font-size: 7vw;
    }

    .contact {
        padding: 40px 30px 60px;
    }

    .contactInfo h2 {
        font-size: 6vw;
    }

    footer {
        padding: 40px 30px 30px;
    }

    .links {
        gap: 40px;
        padding: 50px 0;
    }

    .footerBajo {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 480px) {
    header img {
        width: 80px;
    }

    nav a {
        font-size: 11px;
        padding: 6px 8px;
    }

    .howHappy {
        padding-top: 30px;
    }

    .infoHowHappy h1 {
        font-size: 12vw;
    }

    .infoHowHappy p {
        padding: 20px 0;
        font-size: 14px;
    }

    .infoHowHappy button {
        width: 100px;
        height: 35px;
    }

    .contenedorPosition {
        max-width: 95vw;
        left: 2.5%;
        top: 40px;
        padding: 20px;
        gap: 25px;
    }

    .infoPosition h2 {
        font-size: 8vw;
        max-width: 100%;
    }

    .infoPosition p {
        max-width: 100%;
        font-size: 14px;
    }

    .positionImages img {
        width: 100px;
    }

    .help {
        padding: 10vw 3vw 50px;
        gap: 20px;
    }

    .infoHelp h2 {
        font-size: 11vw;
    }

    .infoHelp p {
        font-size: 14px;
        max-width: 100%;
    }

    .infoHelp button {
        width: 100px;
        height: 35px;
    }

    .statsInfo {
        padding: 20px;
    }

    .statsInfo h2 {
        font-size: 11vw;
    }

    .statsInfo p {
        font-size: 14px;
        max-width: 100%;
    }

    .statsContainer button {
        width: 100px;
        height: 35px;
    }

    .aboutUs h2 {
        font-size: 9vw;
        padding-top: 40px;
    }

    .aboutUs p {
        font-size: 14px;
        padding: 0 20px;
    }

    .aboutUs button {
        width: 100px;
        height: 35px;
    }

    .teamInfo h2 {
        font-size: 10vw;
    }

    .teamInfo p {
        font-size: 14px;
    }

    .teamInfo button {
        width: 100px;
        height: 35px;
    }

    .methodInfo h2 {
        font-size: 10vw;
    }

    .methodInfo p {
        font-size: 14px;
    }

    .methodInfo button {
        width: 100px;
        height: 35px;
    }

    form {
        padding: 20px;
        width: 95%;
    }

    .nombreForm {
        flex-direction: column;
    }

    label {
        font-size: 13px;
    }

    input, textarea {
        font-size: 14px;
    }

    .subscribeInfo h2 {
        font-size: 9vw;
    }

    .subscribeInfo p {
        font-size: 14px;
    }

    .subscribeInfo button {
        width: 100px;
        height: 35px;
    }

    .contact {
        padding: 30px 20px 50px;
    }

    .contactInfo h2 {
        font-size: 8vw;
    }

    .contactInfo p {
        font-size: 14px;
    }

    .contactInfo button {
        width: 100px;
        height: 35px;
    }

    footer {
        padding: 30px 20px 25px;
    }

    .links {
        gap: 30px;
        padding: 40px 0;
        font-size: 14px;
    }

    .footerBajo p {
        font-size: 12px;
    }

    .social img {
        width: 24px;
    }
}