@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'open sans', sans-serif;
}

header {
    background-color: #f5cb00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2vh 4vw;
}

header img {
    padding: 10px;
}

nav a {
    color: #000;
    font-weight: bolder;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px;
}

.howHappy {
    display: flex;
    height: 120vh;
}


.imgHowHappy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.infoHowHappy {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 9vw 0;
    max-width: 22%;
}

.infoHowHappy h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 5vw;
    line-height: 0.8;
}

.infoHowHappy p {
    padding: 50px 0;
}

.infoHowHappy button{
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
}

.contenedorPosition {
    background-color: #eaeaea;
    width: 60vw;
    padding: 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 900px;
    left: 21%;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.infoPosition h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
    font-weight: 100;
    color: #f5cb00;
    line-height: 1.1;
    margin-bottom: 15px;
    max-width: 220px;
}

.infoPosition p {
    margin-bottom: 20px;
    max-width: 270px;
}

.infoPosition a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s;
}

.infoPosition a:hover {
    opacity: 0.7;
}

.positionImages {
    display: flex;
    gap: 40px;
    align-items: center;
}

.positionImages img {
    width: 150px;
    height: auto;
}

.help {
    background-color: #f5cb00;
    padding: 0 7vw;
    display: flex;
    height: 124vh;
}

.infoHelp {
    width: 50%;
    padding-left: 5vw;
}

.infoHelp h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 5vw;
    line-height: 0.8;
    color: #000;
    margin-bottom: 25px;
    padding-top: 35%;
    max-width: 550px;
}

.infoHelp p {
    max-width: 430px;
    margin-bottom: 30px;
}

.infoHelp button {
    background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.infoHelp button:hover {
    background-color: #333;
}

.helpImagen {
    position: absolute;
    left: 700px;
    top: 1460px;
}

.happinessStats {
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.statsContainer {
    display: flex;
    background-color: #f2f2f2;
    box-shadow: 30px 30px 50px #00000080;
    margin: 6vw 8vw;
}


.statsInfo {
    padding: 40px;
    flex: 1;
}

.statsInfo h2 {
    color: #f5cb00;
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 5vw;
    margin-bottom: 15px;
}

.statsInfo p {
    margin-bottom: 40px;
    max-width: 430px;
}

.grafico {
    display: flex;
    justify-content: flex-end;
}

.statsContainer button {
    background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.statsContainer button:hover {
    background-color: #333;
}

.aboutUs {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.aboutUs h2 {
    color: #f5cb00;
    font-size: 3vw;
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    padding-top: 70px;      
}

.aboutUs p {
    line-height: 1.6;
    margin-bottom: 40px;
}

.aboutUs img {
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}

.aboutUs button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
    margin: 30px;
}

.aboutUs button:hover {
    background-color: #e6c200;
}

.ourTeam {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    height: 110vh;
}

.teamInfo {
    max-width: 570px;
    padding: 100px;
}

.teamInfo h2 {
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 4.2vw;
    margin-bottom: 15px;
}

.teamInfo p {
    line-height: 1.6; 
    margin-bottom: 25px;
}

.teamInfo button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
}

.teamInfo button:hover {
    background-color: #e6c200;
}

.method {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6;
    gap: 50px;
    height: 110vh;
}

.methodInfo {
    max-width: 450px;
}

.methodInfo h2 {
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 4.5vw;
    line-height: 1;
    margin-bottom: 25px;
}

.methodInfo p {
    margin-bottom: 45px;
    line-height: 1.6;
}

.methodInfo button {
    width: 120px;
    height: 40px;
    font-weight: bold;
    background-color: #f5cb00;
    border: none;
    cursor: pointer;
}

.methodInfo button:hover {
    background-color: #e6c200;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.subscribeContainer {
    display: flex;
    max-width: 1074px;
    gap: 70px;
    align-items: center;
}

form {
    background-color: #000;
    color: #fff;
    padding: 70px 40px;
    flex: 1;
}

.nombreForm {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.grupoForm {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 15px;    
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input, textarea {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px;
}

form p {
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    line-height: 1.4;
    text-align: justify;
}

.subscribeInfo {
    flex: 1;
}

.subscribeInfo h2 {
    color: #f5cb00;
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 3.5vw;
    line-height: 1;
    margin-bottom: 10px;
    max-width: 360px;
}

.subscribeInfo p {
    margin: 15px 0;
    line-height: 1.6;
}

.subscribeInfo button {
    background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.subscribeInfo button:hover {
    background-color: #333;
}

.contact {
    background-color: #FFC107;
    padding: 60px 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactInfo {
    text-align: center;
}

.contactInfo h2 {
    font-family: 'bebas neue', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    margin-bottom: 15px;
}

.contactInfo p {
  margin-bottom: 40px;
}

.contactInfo button {
  background-color: #000;
    color: #fff;
    width: 120px;
    height: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.contactInfo button:hover {
  background-color: #333;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 60px 60px 40px;
  display: flex;
  flex-direction: column;
  border-top: 4px solid #FFC107;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 80px;
  flex-wrap: wrap;
  padding: 80px 0;
}

.columnLinks {
  display: flex;
  flex-direction: column;
}

.links a {
  color: #FFC107;
  text-decoration: none;    
  font-weight: 500;
}

.footerBajo {
  border-top: 1px solid #333;
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footerBajo p {
  font-size: 14px;
  color: #FFC107;
  font-weight: 400;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}